html {
  scroll-behavior: smooth;
}

.push-below {
  padding-top: 56px;
}

#landing {
  display: grid;
  align-items: center;
  padding-top: 10vh;
  background: url('/assets/img/software-computer-code-1940x900_35196.jpg') no-repeat center center / cover fixed;
  height: calc(100vh - 56px);
  z-index: 3;
}


#landing .row {
  margin: 0;
}

.intro {
  background-color: rgba(75, 106, 131, 0.9);
}

.intro h1 {
  font-size: 8vh;
}

.intro h2 {
  font-size: 4.8vh;
}

.intro h3 {
  font-size: 3.5vh;
}

.avatar {
  display: inline-block;
  height: 35px;
  border-radius: 50%;
}

.watermelon-gradient {
  background: linear-gradient(40deg, #40F8CB, #FF740F)
}