html {
  scroll-behavior: smooth;
}

body {
  font-family: Lato, Arial, Helvetica, sans-serif;
  /* font-family: Poppins, Arial, Helvetica, sans-serif; */
  margin: 0;
  background: linear-gradient(155deg, #50A3A2 0.7%, #78CC6D 100%);
  display: grid;
  grid-template-areas:
    header main;
}

.header {
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  background: #ffffff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.profile {
  display: flex;
  max-height: 60px;
}

.avatar {
  height: 44px;
  width: 44px;
  margin: 10px;
  align-self: center;
  position: relative;
  overflow: hidden;
  background-size: cover;
  border-radius: 50%;
}

.avatar-img {
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;

}

.description {
  padding: 5px;
  align-self: center;
}

.title {
  font-weight: 600;
  font-size: 1em;
}

.subtitle {
  font-weight: 500;
  font-size: 0.9em;
  color: #78CC6D;
}

.fading-line {
  margin: 0;
  padding: 0;
  height: 0px;
  width: 100%;
}

.navbar {
  text-align: center;
}

ul.menu {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.right-border-fade {
  border-right: 1px solid linear-gradient(top, #000000 100%, #000000 10%);
}

.menu-item {
  /* equal sized elements */
  flex: 1;
  
  margin-bottom: 8px;
  /* flex container */
  display: flex;
  flex-direction: column;
}

.menu-item a {
  font-size: 0.7em;
  padding-top: 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(50, 50, 50); 
}

.menu-item:hover {
  color: #78CC6D;
}

.icon {
  display: block;
  padding: 5px;
  margin: auto;
  height: 22px;
  width: 22px;
}

/* .container {
} */

.intro-wrapper {
  height: 100vh;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 20vh; */
  padding: 3px;
  background-color: rgba(91, 91, 91, 0.9);
  color: #ffffff;
}

.intro h1, h2, h3 {
  margin: 0px auto;
}

.intro h1 {
  font-size: 2em;
}

.intro h2 {
  font-size: 1.25em;
  font-weight: 500;
  color: #78CC6D;
}

.intro h3 {
  font-size: 1.125em;
  font-weight: normal;
}

.back-img {
  height: 100%;
  /* margin-left: -200px; */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-image: url('/assets/img/python-code.jpeg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}

.social-bar {
  display: flex;
  justify-content: center;
  margin: 0;
  /* background-color: #50A3A2; */
}

.social-bar a {
  display: inline-block;
  margin: 8px;
  padding: 8px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border: 1px solid;
  border-radius: 50%;
  font-size: 1.25em;
}

.social-bar a:hover {
  border-style: hidden;
  color: white;
  background-color: #007BFF;
}

.social-bar a:active {
  position: relative;
  top: 2px;
}

.social-bar a:visited {
  color: initial;
}

:target {
  display: block;
  position: relative;
  top: -127px; 
  visibility: hidden;
}

.card {
  margin-top: 5px;
  border-radius: 8px;
  background-color: #ffffff;
}