:root {
  --primary-color: #78cc6d;
  --secondary-color: #e8920c;
  --small-screen: 576px;
  --medium-screen: 992px;
  --large-screen: 1200px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Lato, Arial, Helvetica, sans-serif;
  /* font-family: Poppins, Arial, Helvetica, sans-serif; */
  margin: 0;
  color: #444444;
  background: linear-gradient(155deg, #50a3a2 0.7%, #78cc6d 100%);
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: 130px auto;
}

.header {
  grid-area: header;
  width: 100vw;
  max-width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  background: #ffffff;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  justify-self: center;
}

.container {
  grid-area: main;
  /* max-width: 400px; */
  justify-self: center;
}

.profile {
  display: flex;
  max-height: 60px;
}

.avatar {
  height: 44px;
  width: 44px;
  margin: 10px;
  align-self: center;
  position: relative;
  overflow: hidden;
  background-size: cover;
  border-radius: 50%;
}

.avatar-img {
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.description {
  padding: 5px;
  align-self: center;
}

.description a {
  color: inherit;
  text-decoration: none;
}

.title {
  font-weight: 600;
  font-size: 1em;
}

.subtitle {
  font-weight: 500;
  font-size: 0.9em;
  color: var(--primary-color);
}

.faded-border-top {
  /* top border that fades from left to right */
  border-top: 1px black solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), white 80%) 1;
}

.faded-border-right {
  /* right border that fades from top to bottom */
  border-right: 1px black solid;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), white 80%) 1;
}

.faded-border-bottom {
  /* bottom border that fades from left to right */
  border-bottom: 1px black solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), white 80%) 1;
}

.faded-border-left {
  /* left border that fades from top to bottom */
  border-left: 1px black solid;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), white 80%) 1;
}

.navbar {
  text-align: center;
}

ul.menu {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

#home-link {
  display: none;
  flex: 1;
}

.link a {
  text-decoration: none;
  color: inherit;
}

.link a:hover, .menu-active {
  color: var(--primary-color);
}

.upcase {
  text-transform: uppercase;
}

.menu-item {
  /* equal sized elements */
  flex: 1;

  padding: 12px 4px;

  /* flex container */
  display: flex;
  flex-direction: column;
}

.menu-item a {
  font-size: 0.7em;
}

.icon {
  display: block;
  padding: 5px;
  margin: auto;
  height: 22px;
  width: 22px;
}

.intro-wrapper {
  height: calc(100vh - 130px);
  border-radius: 0 0 8px 8px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  background-color: rgba(91, 91, 91, 0.9);
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.75) 4px 4px 2px;
}

.intro h1,
h2,
h3 {
  margin: 0px auto;
}

.intro h1 {
  font-size: 2em;
}

.intro h2 {
  font-size: 1.25em;
  font-weight: 500;
  color: #f93899;
}

.intro h3 {
  font-size: 1.125em;
  font-weight: normal;
}

.back-img {
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-image: url("/assets/img/python-code.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: inherit;
}

.social-bar {
  display: flex;
  justify-content: center;
  margin: 0;
}

.social-bar a {
  display: inline-block;
  margin: 8px;
  padding: 8px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 1.25em;
  border: 1px solid #1db6d0;
  border-radius: 50%;
}

.svg-icon {
  box-shadow: 4px 4px 8px #000000;
  fill: #1db6d0;
  /* background-color: #042d85; */
  background-color: transparent;
  border-color: transparent;
}

.svg-icon:hover {
  fill: var(--primary-color);
  /* background-color: #78CC6D; */
  background-color: transparent;
  border-color: transparent;
}

.social-bar a:active {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: 1px 1px 2px #000000;
}

.social-bar a:visited {
  color: initial;
}

:target {
  /* this trick is used to scroll the card to the right place */
  /* in conjuction with the empty anchor */
  display: block;
  position: relative;
  top: -140px;
  visibility: hidden;
}

.intro-footer {
  position: relative;
  bottom: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
  width: 100%;
  display: flex;
}

.card-action {
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.card-action a {
  display: flex;
  padding: 0 5px 0 5px;
  align-items: center;
}

.card-action span {
  float: 1;
  padding: 0px 5px 0 5px;
}

.card {
  min-height: calc(100vh - 130px);
  margin-top: 12px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
}

.card * {
  margin: 0px;
  padding: 0px;
}

.card-title {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.card-title .material-icons {
  color: var(--primary-color);
}

.card-content {
  padding: 0 20px 25px 20px;
  line-height: 1.8em;
}

.card-content h4 {
  margin: 30px 0 5px 0;
}

.card-content p {
  margin-top: 15px;
}

#skillset {
  display: flex;
  flex-direction: column;
}

#hard-skills,
#soft-skills {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 80%;
}

#hard-skills .skill {
  justify-self: end;
}

#soft-skills .material-icons {
  /* TODO: align this with the above */
  padding: 0 10px 0 10px;
  color: var(--primary-color);
  font-size: 1.3em;
  align-self: center;
}

.bg-green {
  background-color: var(--primary-color);
}

.bg-orange {
  background-color: var(--secondary-color);
}

.bg-grey {
  background-color: #eeeeee;
}

.card-section {
  margin: 35px 20px 0 0;
}

.card-section h2 {
  font-size: 1.2em;
}

.content-title {
  grid-column: 1 / span 2;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.skill {
  padding: 5px;
}

.skill .material-icons {
  /* color: var(--primary-color); */
  color: var(--secondary-color);
  font-size: 1em;
}

.progress-bar {
  margin: 0 8px;
  padding: 0;
  width: 100%;
  height: 4px;
  align-self: center;
}

.percentage {
  height: 100%;
  width: var(--width);
}

.contact-form-container {
  background-color: rgb(235, 235, 235);
  margin-top: 20px;
  border-radius: 8px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-form * {
  margin: 0.6em 1.2em;
}

.contact-form label {
  font-weight: 600;
}

.contact-form input, textarea {
  box-sizing: border-box;
  padding: 1em;
  border-radius: 8px;
  border: solid 1px #ccc
}
.contact-form textarea {
  padding: 1em;
}

.contact-form input[type=submit] {
  align-self: stretch;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
}

.contact-form input[type=submit]:hover {
  background-color: var(--secondary-color);
}

.underline-text {
  /* text-decoration-line: underline; */
  border-bottom: 2px solid var(--primary-color);
}

.portfolio-item {
  width: 300px;
  object-fit: scale-down;
}

.portfolio-item img {
  width: 50%;
  background: var(--primary-color);
}

.portfolio-item img:hover {
  opacity: 0.8;
}

@media (min-width: 576px) {
  .header {
    max-width: 80%;
    margin: auto;
    left: 10%;
  }

  .container {
    max-width: 80%;
  }
}

@media (min-width: 768px) {
  body {
    position: relative;
    grid-template-areas: "header main";
    grid-template-rows: none;
    grid-template-columns: auto auto;
    align-items: start;
    grid-gap: 12px;
  }

  .header {
    grid-area: header;
    margin: 0px;
    width: auto;
    position: sticky;
    top: 12px;
    justify-self: end;
  }

  .profile,
  .faded-border-top {
    display: none;
  }

  .navbar .menu {
    flex-direction: column;
  }

  #home-link {
    display: flex;
  }

  .menu-item {
    border-right: none;
  }

  .container {
    margin-top: 12px;
    margin-right: 5%;
    max-width: 580px;
    justify-self: start;
    grid-area: main;
  }

  .intro-wrapper {
    height: 600px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .header,
  .intro-wrapper {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .card {
    min-height: 50vh;
  }

  :target {
    top: -12px;
    visibility: hidden;
  }

  #skillset {
    flex-direction: row;
  }

  #hard-skills,
  #soft-skills {
    flex: 1;
  }

  .content-title {
    text-align: center;
  }

  .lg-faded-border-bottom {
    border-image: linear-gradient(
        to right,
        white 10%,
        rgba(151, 151, 151, 0.9) 50%,
        white 90%
      )
      1;
  }
}

@media (min-width: 1200px) {
  body {
    position: relative;
    align-items: center;
  }

  .header {
    position: unset;
  }

  #home-link {
    display: none;
  }

  .container {
    margin-top: 0;
    height: 100vh;
    max-width: unset;
    width: 100%;
    display: grid;
    grid-template-areas: "intro main-content";
    align-items: center;
    justify-content: start;
  }

  .intro-wrapper {
    width: 480px;
    height: 674px;
    min-height: 350px;
    max-height: 90vh;
    grid-area: intro;
    z-index: 100;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
  }

  .main-content {
    grid-area: main-content;
    margin-right: 20px;
  }

  .card {
    display: none;
    border-radius: 0 8px 8px 0;
    height: 640px;
    width: 580px;
    min-height: 300px;
    max-height: 80vh;
    margin: 0;
    overflow: auto;
  }

  .active {
    display: inherit;
  }
}
